body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.topo {
    width: 100%;
    font-size: 22px;
    color: #fff;
    background-color: #f97100;
    text-align: center;
    padding: 17px 0;
}

img {
    width: 100%;
}

.secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
}

.secao h1 {
    text-align: center;
}

.secao_cards {
    display: flex;
}

.card {
    width: 320px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 0;
    background-color: #ffb500;
    border-radius: 12px;
}

.card h2 {
    font-size: 29px;
    color: #fff;
}

.img_card {
    width: 150px;
    height: 150px;
    margin: 15px 0;
}

.informacoes {
    width: 100%;
}

.card ul {
    font-size: 18px;
    color: #fff;
    padding: 0 0 0 40px;
}

.card_sombra {
    box-shadow: inset 0 0 15px 12px #ed8317;
}

.secao_imagens {
    display: flex;
    overflow-x: scroll;
}

.secao_imagens img {
    width: 315px;
    margin: 10px;
}

.img_sombra {
    box-shadow: 10px 10px 10px #939393;
}

.rodape {
    width: 100%;
    font-size: 22px;
    color: #fff;
    background-color: #f97100;
    padding: 17px 0;
    text-align: center;
}